.widget {
  max-width: 600px;
  padding: 0 var(--spacing-md) var(--spacing-lg) var(--spacing-xl);
  border-radius: var(--border-radius-large);
  position: relative;
  border: 2px solid var(--text-color);
  border-left-width: 7.5px;
  border-left-color: var(--widget-border-color);
  border-top-right-radius: 75px;
  margin-bottom: var(--spacing-lg);
  margin-top: 90px;
  border-style: dashed dashed dashed solid;
}

.warning {
  background: linear-gradient(
    to right,
    var(--error-background),
    var(--warning-background)
  );
  color: #000;
}

.error {
  background: linear-gradient(to right, var(--text-color), #d3d3d3);
  color: #ff0000;
}

.info {
  background: linear-gradient(to right, var(--info-background), #007bff);
  color: var(--text-color);
}

.widgetIcon {
  font-size: var(--font-size-huge);
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%);
  color: var(--widget-icon-color);
}

.widgetContent h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2%;
  text-align: left;
}

.widgetContent p {
  text-align: left;
  font-weight: bold;
  text-align: justify;
}
