/* Base Styles */
.container {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  background-color: var(--background-color-primary, white);
  color: var(--text-color-secondary, #5d6d6c);
  margin: 0 1px;
  min-height: 8.9rem;
  width: 100%;
}

.inputContainer {
  position: relative;
}

.numberInput {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  padding: 8px 20px;
  text-align: right;
  width: 100%;
  display: block;
  background: var(--background-color-input, #f3f8fb);
  border-radius: 6px;
  color: var(--text-color-input, #084643);
  outline: none;
  border: 2px solid var(--border-color-input, hsl(172deg 31% 52% / 0%));
  transition: border-color 0.3s ease;
}

.numberInput:focus-visible {
  border: 2px solid var(--border-color-input-focus, hsl(172deg 31% 52% / 100%));
}

.label {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 6px;
  display: block;
  color: var(--text-color-secondary, #5d6b6c);
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: grid;
  place-content: center;
}

.errorMessage {
  min-height: 1.5rem;
  color: var(--error-color, hsl(13deg, 31%, 58%));
  min-width: 150px; /* Adjust this value as needed */
}

.error {
  border: 2px solid var(--error-color, hsl(13deg, 31%, 58%));
}

.error:focus-visible {
  border: 2px solid var(--error-color, hsl(13deg, 31%, 58%));
}

/* Media Queries */

/* Desktop monitors, 1500px and up */
@media (min-width: 1500px) {
  .numberInput {
    font-size: 2rem;
    padding: 10px 25px;
  }

  .label {
    font-size: 1.5rem;
  }

  .iconContainer {
    left: 30px;
  }
}

/* Laptops, 1100px to 1499px */
@media (max-width: 1499px) {
  .numberInput {
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  .label {
    font-size: 1.4rem;
  }

  .iconContainer {
    left: 25px;
  }
}

/* Tablets, 550px to 1099px */
@media (max-width: 1099px) {
  .numberInput {
    font-size: 1.6rem;
    padding: 8px 15px;
  }

  .label {
    font-size: 1.25rem;
  }

  .iconContainer {
    left: 20px;
  }
}

/* Phones, 0px to 549px */
@media (max-width: 549px) {
  .container {
    min-height: 7rem;
  }

  .numberInput {
    font-size: 1.4rem;
    padding: 6px 10px;
  }

  .label {
    font-size: 1.1rem;
  }

  .iconContainer {
    left: 15px;
  }
}
